@charset "UTF-8";


/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography

1.1 - Navigation

1.3 - Colors

1.4 - Buttons

1.5 - Packages

1.6 - Forms 

2.1 - Footer

3.1 - Site Structure

4.0 - Images

6.0 - Responsive / Media Queries


--------------------------------------------------------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html  {
	color: #052535;
}

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY 
-------------------------------------------------------------- */

body {
	font-family: 'Cantarell', sans-serif;
}


.instructors p {
	line-height: 17px;
}

nav li, .instructors p, footer a, #bg-5-day p:first-child, #bg-5-day p:nth-child(2) {
	font-size: .7rem;
}


#article a, .flex-services h3 {
	font-size: 1rem;
}

#mission h2, #article p  {
	font-size: 1.2rem;
}

#bg-5-day h3 {
	font-size: 1.5rem;
}

#services h2  {
	font-size: 2rem;
}

p a, h2, .bg-hero .col-2-5 h3, input, textarea, nav li, #services h3 {
	text-transform: uppercase;
}


#mission p {
	line-height: 30px;
	padding-bottom: 25px;
}

.bg-hero .col-2-5 p, #services ul {
	line-height: 30px;
}


header span, footer span, .flickity-prev-next-button {
	display: none;
}

footer a {
	font-style: normal;
}

footer p:nth-child(2) {
	margin-top: -20px;
}


/*--------------------------------------------------------------
1.3 - COLORS
-------------------------------------------------------------- */

.bg-blue, .bg-hero {
	background-color: #052535;
}

#mission p, .bg-hero .col-2-5, nav a, footer a, #article p, #article a:hover, #contact form a, #services a  {
	color: #e0f2f1;
}

nav a:hover, #article a {
	color: #3cc6f3;
}

#services ul  {
	color: #2b668b;
}

#services h3 {
	color: #38c6f4;
}

#bg-5-day p, .flex-services p, #mission h2, #mission form a {
	color: #fff;
}


/*--------------------------------------------------------------
1.4 - BUTTONS 
-------------------------------------------------------------- */

#article a {
	text-decoration-line: underline;
}

footer a, #services a, form a {
	text-decoration: none;
}

#contact form a  {
	background-color: #052535;
	padding: 10px 20px;
}

#contact form a:hover {
	border: 1px solid #052535;
	background-color: #fff;
	color: #052535;
}

#mission form a, #services a {
	border: 1px solid #38c6f4;
	padding: 6px 20px;
}

#mission form a:hover, #services a:hover {
	background-color: #38c6f4;
}




/*--------------------------------------------------------------
1.5 - PACAKAGES
-------------------------------------------------------------- */

#bg-5-day {
	margin-top: 20px;
	text-align: center;
}

#bg-5-day p:nth-child(2), #bg-5-day p:first-child {
	text-align: right;
}

.flex-services {
 	overflow: hidden;
}

.flex-services [class*='col-'] {
  flex: 1;
}

#bg-half-day p:first-child, #bg-2-day p:first-child, #bg-3-day p:first-child, #bg-4-day p:first-child  {
	text-align: left;
	padding: 10px 10px;
}

#services {
	padding-bottom: 50px;
}

#bg-half-day p:nth-child(2), #bg-2-day p:nth-child(2), #bg-3-day p:nth-child(2), #bg-4-day p:nth-child(2) {
	padding: 5px 10px;
	padding-bottom: 30px;
	line-height: 20px;
	font-size: .8rem;
}

#bg-2-day p:nth-child(3), #bg-4-day p:nth-child(3), #bg-5-day p:nth-child(3) {
	margin-top: 35px;
}

#bg-5-day p:nth-child(4) {
	margin-top: 30px;
	line-height: 30px;
}



/*--------------------------------------------------------------
1.6 - FORMS
-------------------------------------------------------------- */

label {
	display: none;
}

input[type="subject"], textarea[type="message"] {
	width: 100%;
}

#contact input[type="email"], input[type="f-name"] {
	width: 48%;
}

textarea {
	padding-top: 10px;
}

input {
	height: 35px;
}

input, textarea {
    border: 1px solid #052535;
    padding-left: 10px;
    margin-bottom: 20px;
    font-family: 'Cantarell', sans-serif;
    color: #38c6f4;
}

#mission input[type="email"] {
	width: 65%;
}

#mission p, #mission input {
	display: inline-block;
}

/*--------------------------------------------------------------
2.0 - NAVIGATION 
-------------------------------------------------------------- */

nav li  {
	display: inline-block;
	list-style: none;
	padding: 20px 40px;
}

nav a {
	text-decoration: none;
}











/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */

.wrapper {
	width: 80%; 
	margin: 0 auto;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

.img-responsive {
	max-width: 100%;
}

figure {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
	margin-right: 20px;
}

[class*="col-"] {
	float: left;
	padding: 0 10px 20px 10px;
}

.gallery:after {
  content: 'flickity';
  display: none;
}



#instructors .flex  {
	flex: 1;
	flex-flow: row wrap;
}

.flex-services, #instructors .flex {
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

#instructors, #contact {
	padding-top: 50px;
}


.bg-hero .wrapper {
	top: 0;
	left: 0;
	position: relative; 
}

#mission {
	position: absolute;
	top: -180px;
	right: 0;
	padding: 10px 15px;
	background-color: #2b668b;
	opacity: .6;
}

#icons {
	padding-top: 80px;
}

ul {
	list-style-type: none; 
}

#article p:first-child {
	padding-top: 20px;
}

.col-2-5 {
	text-align: left;
}

#map {
	height: 250px;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */


#bg-half-day {
	background: url(../img/bg-package-1.jpg) no-repeat;
	width: 100%;
    height: 100%;
    background-size: cover;
}

#bg-2-day {
	background: url(../img/bg-package-2.jpg) no-repeat;
	width: 100%;
    height: 100%;
    background-size: cover;
}

#bg-3-day {
	background: url(../img/bg-package-3.jpg) no-repeat;
	width: 100%;
    height: 100%;
    background-size: cover;
}

#bg-4-day {
	background: url(../img/bg-package-4.jpg) no-repeat;
	width: 100%;
    height: 100%;
    background-size: cover;
}

#bg-5-day {
	background: url(../img/bg-package-5.jpg) no-repeat;
    background-size: cover;
}

#services li {
	list-style-image: url(../img/bullet-wave.png);
}



/* social media icons */

header li:first-child a {
	background: url(../img/icon-fb.png) no-repeat 0 0;
}

header li:nth-child(2) a {
	background: url(../img/icon-insta.png) no-repeat 0 0;
}

footer li:first-child a {
	background: url(../img/icon-fb.png) no-repeat 0 0;
}

footer li:nth-child(2) a {
	background: url(../img/icon-insta.png) no-repeat 0 0;
}


/

/*--------------------------------------------------------------
3.1 - SINGLE COLUMNS
-------------------------------------------------------------- */
.col-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-sm-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.28%
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%;
}
/*--------------------------------------------------------------
3.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */

.col-2-3 {
	width: 66.66%;
}

.col-3-4 {
	width: 75%;
}

.col-2-5 {
	width: 45%;
}

.col-3-5 {
	width: 60%;
}

.col-2-6 {
	width: 16.66%;
}

.col-4-6 {
	width: 83.33%;
}

.col-3-7 {
	width: 14.28%;
}

.col-4-7 {
	width: 85.7%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-3-9 {
	width: 11.11%;
}

.col-6-9 {
	width: 88.88%; 
}

.col-4-10 {
	width: 40%;
}

.col-6-10 {
	width: 60%;
}

.col-9-11 {
	width: 81.81%;
}

.col-2-11 {
	width: 18.18%;
}

.col-3-12 {
	width: 8.33%;
}

.col-9-12 {
	width: 91.67%;
}


/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */

.center-block {
	margin: 0 auto;
	float: none;
	text-align: center;
}

.txt-center {
	text-align: center;
}

.push-right {
	float: right;
}








@media screen and (max-width: 480px) {
	.wrapper {
		width: 95%;
	}


  .gallery:after {
    content: '';
  }

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY 
-------------------------------------------------------------- */
#services h3 {
	font-size: 1.5rem;
}

/*--------------------------------------------------------------
1.4 - BUTTONS 
-------------------------------------------------------------- */
#services a {
	padding: 6px 100px;
}

#contact p a {
	padding: 6px 120px;
}

/*--------------------------------------------------------------
1.6 - FORMS
-------------------------------------------------------------- */



/*--------------------------------------------------------------
1.5 - PACAKAGES
-------------------------------------------------------------- */
#services header.col-1-2 {
	width: 100%;
}

#services header.col-1-4 {
	width: 100%;
}

/*--------------------------------------------------------------
2.0 - NAVIGATION 
-------------------------------------------------------------- */

nav li  {
	display: inline-block;
	list-style: none;
	padding: 10px 10px;
	font-size: .5rem;
}

/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}

.wrapper {
	width: 80%; 
	margin: 0 auto;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

figure {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
	margin-right: 20px;
}

[class*="col-"] {
	float: left;
	padding: 0 10px 20px 10px;
}

#mission {
	float: none;

}

.flex-services {
	display: block;
}

#mission input[type="email"] {
	width: 55%;
}

#mission p, #mission input {
	display: inline-block;
}

.bg-hero {
	padding-bottom: 200px;
}

.bg-5-day p:nth-child(2), .bg-5-day p:nth-child(3) {
	
}

/*--------------------------------------------------------------
3.1 - SINGLE COLUMNS
-------------------------------------------------------------- */
.col-1, .col-1-4, .col-1-3, #services .col-3-4, .col-lg, .col-1-2, #mission, .col-2-5   {
	width: 100%;
}

.col-sm-1-3 {
	width: 50%;
}


 



/*--------------------------------------------------------------
3.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */




/*--------------------------------------------------------------
4.0 MEDIA
-------------------------------------------------------------- */



img[src="img/instructor-image.jpg"] {
	display: none;
}




